*, *::after, *::before {
    box-sizing: inherit;
}

:root {
    box-sizing: border-box;
    --violet: hsl(257, 40%, 49%);
}

body{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-image: url('./images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--violet);
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10%;
}
.flex {
    display: flex;
    flex-direction: column;
}

.img-logo {
    width: 125px;
    padding: 30px 0;
}

.img-mockup {
    width: 100%;
    padding: 1em 0;
}

.main__text {
    text-align: center;
    padding-top: 2.35em;
}
.main__text p {
    line-height: 1.5em;
    padding-bottom: 1.2em;
    padding-right: 0.5em;
}

.btn {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: var(--violet);
    font-size: .8rem;
    font-weight: 00;
    background-color: #fff;
    padding: .9em 6em;
    border-radius: 100px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.3);
}
.btn:hover, .btn:focus {
    opacity: 0.75;
}

.social {
    align-items: center;
    padding-top: 4em;
}

i.fab {
    font-size: 1.125rem;
    width: 2.1em;
    text-align: center;
    line-height: 2.1em;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 0.4em;
}
i.fab:hover, i.fab:focus {
    opacity: 0.75;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color:#F3B6FF;
    text-decoration: none;
}
.attribution a:hover, .attribution a:focus {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .container {
        padding: 0 20%;
    }
}

@media (min-width: 900px) {
    body {
        background-image: url('./images/bg-desktop.svg');
        background-attachment: fixed;
        background-size: auto 100%;
        font-size: 1rem;
    }

    .container {
        padding: 0 4.5rem;
    }
    
    .flex {
        flex-direction: row;
    }

    .img-logo {
        width: 160px;
        padding: 40px 0;
    }

    .main {
        justify-content: space-between;
    }

    .img-mockup {
        align-self: flex-start;
        width: 55%;
    }

    .main__text {
        width: 41%;
        text-align: start;
    }
    .main h1 {
        font-size: 2rem;
    }
    .main .btn {
        /* font-size: 1rem;
        padding: 1.1em 4.2em; */
        /* font-size: 1.2rem;
        padding: .75em 3.2em; */
        font-size: 1.1rem;
        padding: .86em 3.5em;
        font-weight: 700;
    }

    .social {
        justify-content: center;
    }
}

@media (min-width: 1100px) {
    body {
        font-size: 1.12rem;
    }

    .img-logo {
        width: 212px;
        padding: 3.5rem 0;
    }

    .main h1 {
        font-size: 2.42rem;
        margin-bottom: 0.6em;
    }

    .social {
        justify-content: flex-end;
        padding-top: 5em;
    }
}

@media (min-width: 1400px) {
    .social {
        padding-top: 0.32em;
    }
}