*, *::after, *::before {
    box-sizing: inherit;
}

:root {
    box-sizing: border-box;
    --violet: hsl(257, 40%, 49%);
}

body{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-image: url('./images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--violet);
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}
.flex {
    display: flex;
    flex-direction: column;
}

.img-logo {
    width: 125px;
    padding: 30px 0;
}

.img-mockup {
    width: 100%;
    padding: 1em 0;
}

.main__text {
    text-align: center;
    padding-top: 1em;
}
.main__text p {
    padding-bottom: 1.2em;
}

.btn {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: var(--violet);
    font-size: .8rem;
    font-weight: 400;
    background-color: #fff;
    padding: .9em 6em;
    border-radius: 100px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.3);
}

.social {
    align-items: center;
    padding-top: 4em;
}

i.fab {
    font-size: 1.125rem;
    width: 2em;
    text-align: center;
    line-height: 2em;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    margin-right: 0.5em;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color:#F3B6FF; 
}

@media (min-width: 768px) {
    body {
        background-image: url('./images/bg-desktop.svg');
        background-attachment: fixed;
        background-size: auto 100%;
        font-size: 1rem;
        padding: 0 2rem;
    }

    .flex {
        flex-direction: row;
    }

    .img-logo {
        width: 160px;
        padding: 40px 0;
    }

    .main {
        justify-content: space-between;
    }

    .img-mockup {
        align-self: flex-start;
        width: 55%;
    }

    .main__text {
        /* padding-left: 2em; */
        width: 40%;
        text-align: start;
    }
    .main h1 {
        font-size: 2rem;
    }
    .main .btn {
        font-size: 1rem;
        padding: 1em 4em;
    }

    .social {
        justify-content: center;
    }
}

@media (min-width: 1100px) {
    body {
        font-size: 1.125rem;
    }

    .img-logo {
        width: 200px;
        padding: 3.3em 0;
    }

    .main h1 {
        font-size: 2.25rem;
    }

    .social {
        justify-content: flex-end;
        padding-top: 5em;
    }
}

@media (min-width: 1400px) {
    .social {
        padding-top: 0.5em;
    }
}